<br>

<ol class="breadcrumb">
  <li><a ui-sref="categories" class="active">Categories</a></li>
  <li><a ui-sref="category({categoryId: category.id})" class="active">{{category.title}}</a></li>
  <li class="active">ITEMS</li>
  <li ng-if="action.add">NEW ITEM</li>
  <li ng-if="action.edit && !action.view">EDIT ITEM / {{itemSelected.title}}</li>
  <li ng-if="action.view && itemSelected">VIEW ITEM / {{itemSelected.title}}</li>
</ol>

<div class="row">

  <div class="col-md-3">

    <form class="form-vertical">
      <div class="form-group">
        <div class="form-group has-feedback">
          <label class="control-label">Item</label>
          <input type="text"
          class="form-control"
          placeholder="Find a item..."
          ng-model="itemFilter" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </div>

    </form>

    <ul class="list-group">
      <li class="list-group-item pointer"
          ng-click="selectItem(item)"
          ng-class="{active: item.id === itemSelected.id}"
          ng-repeat="item in category.items | filter:itemFilter track by $index">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div class="col-md-9">

    <div class="text-right" ng-hide="isItemFormVisible()">
      <button type="button" class="btn btn-primary" ng-click="addItem()" ng-show="action.hide">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New Item
      </button>
      <button type="button" id="catalog-signin2" ng-show="action.view">Google Sign In</button>
    </div>

    <div class="panel panel-default" ng-show="isItemFormVisible()">
      <div class="panel-heading">
        <h3 ng-if="action.add" class="panel-title">Add Item</h3>
        <h3 ng-if="action.edit" class="panel-title">Edit Item</h3>
      </div>
      <div class="panel-body">

        <form class="form-vertical item-form col-md-9">
          <div class="form-group">
             <label for="title">Title</label>
             <input type="text" class="form-control" id="title" placeholder="Title" ng-model="itemSelected.title">
          </div>

          <div class="form-group">
             <label for="description">Description</label>
             <input type="text" class="form-control" id="description" placeholder="Description" ng-model="itemSelected.description">
          </div>

          <hr />

          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-danger" ng-click="delete()" ng-hide="action.view" ng-if="action.edit">Remove</button>
          <button type="submit" class="btn btn-primary" ng-click="save()" ng-hide="action.view">Save</button>
        </form>

      </div>
    </div>
  </div>

</div>
