<br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Recently Added</div>

  <!-- Table -->
  <table class="table recent">
    <thead>
      <tr>
        <th class="#">#</th>
        <th class="recent-category">Category</th>
        <th class="recent-item">Item</th>
        <th class="recent-created">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items track by $index">
        <th scope="row">{{$index + 1}}</th>
        <td class="recent-category pointer" ng-click="selectCategory(item)">{{item.categoryTitle}}</td>
        <td class="recent-item pointer" ng-click="selectItem(item)">{{item.title}}</td>
        <td class="recent-created">{{item.createdDate | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
