<br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Recently Added</div>

  <!-- Table -->
  <table class="table recent">
    <thead>
      <tr>
        <th class="#">#</th>
        <th class="recent_category">Category</th>
        <th class="recent_item">Item</th>
        <th class="recent_created">Created date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="recent_category">Mood</td>
        <td class="recent_item">Happyness</td>
        <td class="recent_created">03/15/2016 4:30 PM</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
