$icon-font-path: '../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';
@if compass-env() == 'production' {
    $icon-font-path: '../fonts/bootstrap/';
}
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$purple: #a55c9b;
$pink: #da3ec5;
$darkpurple: #96508c;
$background: #9c8aa5;
$whitesmoke: #f5f5f5;
$white: #fff;
$shadow1: rgba(0, 0, 0, .075);
$shadow2: rgba(255, 0, 0, .6);

.form-control:focus {
  border-color: $pink;
  box-shadow: inset 0 1px 1px $shadow1, 0 0 8px $shadow2;
}

.hide {
  display: none;
  visibility: hidden;
}

.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline-color: $pink;
}

body .container {
  background-color: $background;
  max-width: 75%;
}

.main {
  background-color: $white;
  padding: 0 1em;
}

a,
a:focus,
a:hover {
  background-color: $whitesmoke;
  color: $purple;
  text-transform: uppercase;
}

button a,
button a:focus,
button a:hover {
  background-color: $purple;
  color: $white;
  text-transform: uppercase;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.btn-primary {
  background-color: $purple;
  border: $purple solid 1px;
  color: $whitesmoke;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: $darkpurple;
  border: $purple solid 1px;
}

.pointer {
  cursor: pointer;
}

.footer {
  padding: .5em 0;

  .content {
    background: $whitesmoke;
    border-radius: .2em;
    font-size: .8em;
    padding: .5em;
  }

}

td {
  &.recent-category:hover,
  &.recent-item:hover,
  &.recent-category:focus,
  &.recent-item:focus,
  &.recent-category:active,
  &.recent-item:active,
  &.recent-category:visited,
  &.recent-item:visited {
    color: $purple;
    text-decoration: underline;
    text-decoration-color: $purple;
  }
}

.logo {
  height: 4em;
}

.user-info {
  color: $white;
  float: right;
  line-height: 4em;
}

.catalog-signin2 {
  display: flex;
  justify-content: center;
  padding: 8em 0;

  > div {
    background-image: url('/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png');
    background-repeat: no-repeat;
    background-size: 170px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 3em;
    width: 170px;

    :focus {
      background-image: url('/images/google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png');
    }

    :active {
      background-image: url('/images/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png');
    }

    :disabled {
      background-image: url('/images/google_signin_buttons/web/1x/btn_google_signin_dark_disabled_web.png');
    }
  }
}
